<h2>Using *ngIf</h2>

<div *ngIf="2>1">
yes 2 is greater than 1
</div>
<br>
<hr>
<h2>Using 2 *ngIf</h2>

<div *ngIf="someRandomVariable">
  yes variable is present
</div>
<div *ngIf="!someRandomVariable">
  no variable is absent
</div>
<br>
<hr>
<h2>Using *ngIf else</h2>

<div *ngIf="someRandomVariable;then trueBlock else falseBlock">

</div>
<ng-template #falseBlock>
  <div>
    <h2>NO no variable is absent</h2>
  </div>
</ng-template>

<ng-template #trueBlock>
  <div>
    <h2>YES variable is present</h2>
  </div>
</ng-template>
<hr>

<h2>Using ngSwitch</h2>

<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">you picked red</div>
  <div *ngSwitchCase="'blue'">you picked blue</div>
  <div *ngSwitchCase="'green'">you picked green</div>

<div *ngSwitchDefault>pick again</div>
</div>
<hr>
<h2>Using ngFor</h2>
<div *ngFor="let color of colors;index as i;first as f;last as l;odd as o;even as e">
<h2>{{i}} {{f}} {{l}} {{o}} {{e}} {{color}}</h2>

</div>
<hr>
<h2>ngClass directive</h2>
<p [ngClass]="{classOne:cone,classTwo:ctwo}">ngClass paragraph</p>
<button (click)="toggle()">toggle</button>

<h2>ngStyle directive</h2>
<p [ngStyle]="{'font-style':style,'font-size':size}">ngStyle paragraph</p>
<hr>


<h2>ngModel directive</h2>
<input [(ngModel)]="name" type="text"> {{name}}
<hr>